body {
    background-color: rgb(0, 0, 0);
}

#titlebar {
    text-align: center;
}

.dropdown button {
    background-color: rgb(87, 84, 84);
    color: rgb(158, 196, 24);
    padding: 12px 18px;
    font-size: 14px;
    border: solid rgb(255, 255, 255) 1px;
    cursor: pointer;
    margin-right: -2px;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown a {
    display: block;
    color: rgb(158, 196, 24);
    text-decoration: none;
    padding: 12px 18px;
    font-size: 14px;
    border: solid rgb(255, 255, 255) 1px;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown .content.Introduction{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
   
}

.dropdown .content.Stoichiometry{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
   
}

.dropdown .content.SS{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
   
}

.dropdown .content.GasLaws{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
    
}
.dropdown .content.ASP{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
    
}

.dropdown .content.Bonding{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
    
}

.dropdown .content.IMFs{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
   
}

.dropdown .content.Theromodynamics{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
    
}

.dropdown .content.Kinetics{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
    
}

.dropdown .content.Equilibrium{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
   
}
.dropdown .content.AB{
    display: none;
    position: absolute;
    background-color: rgb(87, 84, 84);
   
}

.dropdown .content.Electrochemistry{
    display: none;
    position: absolute;
  
}


.dropdown:hover .content {
    display: block;
    margin-right: -2px;
}

.dropdown:hover button {
    background-color: green;
}

.dropdown a:hover {
    background-color: green;
}

.dropdown {
    display: inline-block;
    margin-right: -2px;
}
